/* Border utility*/
.border-0 {
    border: 0;
}

.border-top {
    border-top: 1px solid #ebeff3;
}

.border-bottom {
    border-bottom: 1px solid #ebeff3;
}

.border-white {
    border-color: #fff;
}

.border-0 {
    border-width: 0;
}

.border-2 {
    border-width: 2px;
}

/* End of border utility */