/* Border radius utility */
.rounded {
    border-radius: 0.25rem;
}

.rounded-0 {
    border-radius: 0;
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-pill {
    border-radius: 50rem;
}

/* end of border radius utility */