/* Display Utilities */
.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.table {
    display: table;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.none {
    display: none;
}

/* end of display utilities */