/* Display Utilities */
.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

/* end of display utilities */