@import-glob "styles/**/*.pcss"

    /* Abstract Imports */
@import 'styles/abstracts/vars.pcss';

/* General Imports */
@import 'styles/typography.pcss';
@import 'styles/media-queries.pcss';

/* Reset Imports */
@import "modern-normalize/modern-normalize.css";

/* Layout Imports */
@import-glob "styles/layout/**/*.pcss";

/* Utility Imports */
@import-glob "styles/utility/**/*.pcss";

